body{
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
  font-size: 18px;
  color: #131313;
}

ul{
  padding-left: 15px;
}
main{
}
.form-label{
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.header_fixed.ph-header {
  background-color: #f00000;
  z-index: 98;
  position: fixed;
  width: 100%;
  margin: 0;
  top: -70px;
  left: 0;
  border-radius: 0;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease,
    -webkit-transform 500ms ease;
  transition: transform 500ms ease, background 500ms ease,
    -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  z-index: 99;
}
nav.bg-body-tertiary{
background-color: transparent !important;
position: relative;
  width: 100%;
  transition: all .5s;
  z-index: 10;
  &:hover{
  }
  .nav-link{
    color: #fff;
    &.active{
      font-weight: bold;
    
      &:after{
        
      }
    }
  }
}
.carousel-caption{
  top: 0;
  left: 0;
  right: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  &:before{
    content:'';
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
  }
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  height: 3rem;
  width: 3rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
.carousel-item{
  img{
    position: relative;
    z-index: -2;
  }
}
.carousel-caption-wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
}
.rotate-container {
  position: relative;
}
.rotate-container .card-front,
.rotate-container .card-back {
  width: 100%;
  height: 100%;
  transform: perspective(600px) rotateY(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.5s linear 0s;
}
.rotate-container .card-back {
  transform: perspective(1600px) rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.rotate-container .rotate-card-front {
  transform: perspective(1600px) rotateY(-180deg);
}
.rotate-container .rotate-card-back {
  transform: perspective(1600px) rotateY(0deg);
}

/* Modified card styles */
.card {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}
.card-front{
  img{
    transition: all .5s;}
  .card-title{
    font-size: 28px;
    margin-top: 15px;
  }
  p{
    font-weight: 900;
    font-size: 16px;
  }
  &:hover{
    img{
      background-color: rgba(255, 0, 0, 0.75);
    }
  }
}
.card-back{
  .card-header{
    p{
      margin-bottom: 0;
    }
  }
  .card-block{
    padding: 15px;
    p{
      font-size: 14px;
    }
  }
}
.card .btn {
  margin-bottom: 1em;
  cursor: pointer;
}
.card .social-links li {
  margin: 0.5em;
}
.card .social-links a {
  font-size: 1.5em;
}
// default css
img {
  width: 100%;
  height: auto;
}
.slick-slide{
margin: 15px 15px;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: unset;
  transition-delay: .2;
  transition: all .5s ease;
  &:hover{
    letter-spacing:1px
  }
}


.ph-instrument-tab {
  h3,
  p {
    margin-bottom: 0;
  }
  figure {
    width: auto;
    overflow: visible;
  }
  .nav-tabs {
    justify-content: center;
    border: 0;
  }
  .nav-item {
    position: relative;
    &:not(:last-of-type):after {
      content: "";
      height: 6px;
      width: 6px;
      background-color: #ff0000;
      position: absolute;
      right: -3px;
      top: 13px;
      transform: rotate(45deg);
    }
  }
  .nav-link {
    position: relative;
    padding: 5px;
    color: #131313;
    border: none !important;
    margin: 0 30px 30px;
    &.active {
      background-color: transparent;
      color: #ff0000;
      border: 0;
      &:after {
        width: 100%;
      }
    }
    &::after {
      content: "";
      width: 0;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 2px;
      background-color: #ff0000;
      transition: all 0.5s;
    }
    &:hover {
      border: none !important;
      color: #ff0000;
      &:after {
        width: 100%;
      }
    }
  }
}

.ph-skill{
  background-color: #c40000;
  color: #fff;
  overflow-x: hidden;
  &__item{
    position: relative;
    z-index: 2;
  }
  .slick-list{
    overflow: visible;
    z-index: 0;
    position: relative;
    &:before{
      content: "";
      height: calc(100% + 30px);
      width: 100%;
      background-color: #c40000;
      position: absolute;
      right: calc(100% - 15px);
      z-index: 1;
    
    }
  }
  &__slider{
    height: 100% ;
    *{
      height: 100% ;
    }
    &--item{
      position: relative;
      &:hover{
        .ph-skill__slider--wrapper{
          transition: all 1s ;
          opacity: 1;
          font-size: 10px;
        }
      } 
    }
    img{
      object-fit: cover;
    }
    &--wrapper{
      opacity: 0;
      *{
        height: auto;
      }
      position: absolute;
      top: 30px;
      left: 30px;
      right: 30px;
      bottom: 30px;
      padding: 15px;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: auto;
      background-color: #ff0000;
      transition: all 1s ;
      p{
        font-size: 16px;
      }
    }
  }
}
.ph-instrument{
  &__slider{
    &--item{
      padding: 15px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
      transition: all .5s;
      img{
        max-height: 200px;
        object-fit: contain;
      }
      &:hover{
          background-color: #c40000;
          color: #fff;
      }
    }
    &--content{
      margin-bottom: 30px;


    }
  }
}
.ph-members{
  &__title{
    background-color: #c40000;
    margin-bottom: 0;padding: 15px;
    color: #fff;
    font-weight: bold;
  }
  &__slider-item{
    position: relative;
    &:hover{
      h3{
        opacity: 1;
      }
    }
    img{
      min-height: 300px;
      object-fit: cover;
    }
    h3{
      position: absolute;
      bottom: 0;
      background-color: #ff0000;
      width: 100%;
      color: #fff;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 700;
      padding: 10px 5px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all .5s;
    }
  }
  .slick-slide{
    margin: 15px 10px;
  }
}
footer{
  background-color: #c40000;
  color: #fff;
}
.ph-quick-menu__item{
  a{
    position: relative;
    &:before{
      content: '';
      
      height: 6px;
      width: 6px;
      background-color: #fff;
      position: absolute;
      left: -15px;
      top: 8px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.mt-footer__social{
  padding: 0;
}
.ph-bottom-footer__content{
  display: flex;justify-content: space-between;
}

.slick-dots {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px;
}.slick-dots li button {
  font-size: 0;
  background-color: #c4c4c4;
  border: 0;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}.slick-dots li.slick-active button {
  background-color: #e1251b;
}

// .ph-login-page{
//   .login-banner{
//     min-height:100vh;
//     object-fit: cover;
//     margin: 0 -12px ;
//   }
//   .ph-login-form{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;width: 100%;
//       max-width: 500px;
//       margin: auto;
//       &__wrapper{
//         display: flex;
//         gap: 60px;
//         flex-wrap: wrap;
//         margin-top: -10vh;
//       }
//       &__content{
//         p{
//           font-size: 15px;
//           font-weight: 600;
//         }
//       }
//       form{
//         width: 100%;
//       }
//   }
// }
.pop-up{
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility:hidden;
  opacity:0;
  transition: all .5s;
  &.active{
    opacity:1;
    visibility: visible;
  }

}
.ph-login-form__wrapper{
  background: red;
  padding: 60px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}
.pop-up__close{
  position: absolute;
  right: 30px;
  top: 30px;
}
.ph-video{
  overflow-x: hidden;
  position: relative;
  &__item{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    img{
      object-fit: cover;
      height: 250px;
    }
    h3{
      font-size: 18px;
      font-weight: bold;
      text-transform: capitalize;
      padding: 6px 30px 6px 15px;
      margin-bottom: 0;
      line-height: 1.7;
    }
  }
  &__mp3, &__mp4,&__pdf{
    position: relative;
    &:after{
      position: absolute;
      display: inline-block;
      font: normal normal normal 18px / 1 FontAwesome;
      right: 10px;
      top: 150px;
    
      z-index: 5;
      color: rgb(19, 33, 161);
    }
  }
  &__mp3{
    &:after{
      content: "\f001";
      
    }

  }
  &__mp4{
    &:after{
      content: "\f04b";
      
    }
  }
  &__pdf{
    &:after{
      content: "\f15b";
    }
  }
}
video{
  width: 100%;
  height: auto;
}
.slider-for{
  .ph-video__item img{
    height: unset;
  }
}
.ph-video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:30px;
}